{% extends "base.html" %}

{% block content %}
	{% for post in post_list %}		
		<div style="margin-bottom: 20px;">
			<h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
			{% if post.tags %}
				Tags:
				<ul>
					{% for tag in post.tags %}
						<li><a href="?tag={{ tag.id }}">{{ tag }}</a></li>
					{% endfor %}
				</ul>			
			{% endif %}
		</div>
	{% endfor %}
	
	{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
            	{% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                {% else %}
                	<class="disabled"><span>&laquo;</span>
                {% endif %}
                {% for i in page_obj.paginator.page_range %}
                	{% if page_obj.number == i %}
                		<class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                	{% else %}
                		<a href="?page={{ i }}">{{ i }}</a>
                	{% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                {% else %}   
                    <class="disabled"><span>&raquo;</span>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}